SUPABASE_URL=https://yxagoogmyzoezyjngvzn.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl4YWdvb2dteXpvZXp5am5ndnpuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA2NTkwOTcsImV4cCI6MjA5NjIzNTA5N30.i1vVnnSeK0SLKEdJqBlT-4A-i7G0yyTdKWGb6L-7h9E
PORT=5000